@{
    ViewBag.Title = "About";
}
<h2 class="text-center">@ViewBag.Title</h2>

<pre>
        Developed By
        Md. Tauhidul Islam
        ID: PGDIT-1717
        Session: 2016-17
</pre>
<pre>
        Supervised By
        Md. Nurul Ahad Tawhid
        Assistant Professor
        IIT, DU
</pre>
