@{
    ViewBag.Title = "About";
}
<h2 class="text-center">@ViewBag.Title</h2>
<div class="jumbotron">
    <p>This is an online job portal where anyone can register either as a Job Seeker or as an Employer or as both.</p>
    <p> Any registered user(Job Seeker or Employer) can login into the system using his/her username & password.</p>
    <p> A Job Seeker can search for the available jobs, bookmark the jobs & apply for the jobs.
        He/She can also view the list of the jobs he/she bookmarked & applied for.
    </p>
    <p>An Employer can post jobs for recruitment purpose mentioning different criteria he/she or his/her organization looking for.
        The Employer can view the list of the jobs he/she posted & update those.
        He/She can view the list of the applicants for individual jobs & also view the profiles of the applicants.
    </p>
</div>
<p class="text-center lead">Developed by</p>
<p class="text-center lead"><b>Md. Tauhidul Islam</b></p>
<p class="text-center lead">Email: tauhid.it404@gmail.com</p>

@*<pre>
        Developed By
        Md. Tauhidul Islam
        ID: PGDIT-1717
        Session: 2016-17
</pre>
<pre>
        Supervised By
        Md. Nurul Ahad Tawhid
        Assistant Professor
        IIT, DU
</pre>*@
