@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <img src="../../Content/img/tm-image1.jpg" style="width: 100%" alt="home_image" />        
    </div>
</div>
