
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-offset-2 col-md-8 text-center">
        <br />
        <h3>Register As</h3>
        <br />
        @Html.ActionLink("Job Seeker", "JobSeekerRegister", "Register", null, new { @class = "btn btn-info" })
        @Html.ActionLink("Employer", "EmployerRegister", "Register", null, new { @class = "btn btn-primary" })
    </div>
</div>

